:root{
    --azul: #d1edf8;
    --preto: #010100;
}

body{
    background-color: var(--azul);
    color: var(--preto);
}

img{
    width: 7%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-intro{
    width: 20%;
}