
:root{
    --azul:#a4adcb ;
    --preto: #010100;
}

body{
    background-color: var(--azul);
    color: var(--preto);
}

img{
    width: 15%;
}

header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
}
.img-intro{
    width: 20%;
    border-radius: 30px;
    border: 3px solid;
}

.intro{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #84c2c2;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
}

.equipe{
    display: grid;
    grid-template-columns: 22% 22% 22%;
    text-align: center;
}
.foto-equipe{  
    width: 50%;
    margin-top: 12px;
}
.equipe{
   display: grid;
   grid-template-columns: 33% 33% 33%;
   text-align: center;
   background-color: #befbfb;
   margin: 20px;
   border-radius: 30px;
   border: 3px solid black;
}

.pessoa{
    border-radius: 30px;
    margin: 12px;
    border: 3px solid #2d9f9f;
    border-block-style: revert;
}

footer{
    background-color: white;
    color: rgb(0, 0, 0);
}
a{
    color: black;
    text-decoration: none;
}
.cor{
    color: #009fc7;
}
.pag{
    color: #001bb3;
}

.produtos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: #84c2c2;
    margin: 10px;
    justify-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 30px;
    border: 3px solid black;

}

.cachorroproduto{
    width: 48%;
    margin-top: 10px;
}

.banho{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: #84c2c2;
    margin: 10px;
    justify-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 30px;
    border: 3px solid black;
}
.img-intro {
    width: 48%;
}