:root{
    --azul: #d1edf8;
    --preto: #010100;
}

body{
    background-color: var(--azul);
    color: var(--preto);
}

img{
    width: 15%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-intro{
    width: 20%;
    border-radius: 30px;
    border: 3px solid;
}

.intro{
    display: flex;
    background-color:#befbfb;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid;
}

